{{define "yield"}}
<h1>My Assignments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {{range .Assignments}}
      <tr>
        <td><a href="/assignments/{{.ID}}">{{.ID}}</a></td>
        <td><a href="/assignments/{{.ID}}">{{.Title}}</a></td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
